<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <title>Todo List Vue</title>
</head>

<body>

<div class="container">
    <div v-cloak id="app">
        <h1 class="mb-3">TODO List</h1>

        <div class="row no-gutters">
            <div class="col pr-2">
                <input v-model="newTodoText" class="form-control mb-2" type="text"/>
            </div>
            <div class="col-auto">
                <button @click="addNewTodoItem" class="btn btn-primary mb-2" type="button">ADD</button>
            </div>
        </div>

        <ul>
            <li class="py-1" v-for="item in items" :key="item.id">
                <template v-if="item.isEditing">
                    <input v-model="item.editText" type="text"/>
                    <button @click="saveItem(item)" class="btn btn-primary" type="button">Save</button>
                    <button @click="cancelEditItem(item)" class="btn btn-danger" type="button">Cancel</button>
                </template>
                <template v-else>
                    <span>{{ item.text }}</span>
                    <button @click="startEditItem(item)" class="btn btn-primary" type="button">Edit</button>
                    <button @click="deleteItem(item)" class="btn btn-danger" type="button">Delete</button>
                </template>
            </li>
        </ul>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="script.js"></script>

</body>
</html>