* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: #676565;
}

.main {
    padding-right: 15px;
    padding-left: 15px;
}

.table {
    background: white;
    color: black;
    font-family: "Segoe UI", sans-serif;
    line-height: 41px;
    margin: 1em 0;
    border: 1px solid #CCC;
    border-collapse: collapse;
    max-width: 860px;
    width: 100%;
}

.table-body {
    border: inherit;
}

.table-body tr, .table-body td, .table-head th {
    border: 1px solid #CCC;
    padding: 3px 8px;
}

.table-head th {
    background: #3498DB;
    color: white;
    text-align: left;
    font-weight: normal;
}

.name {
    width: 20%;
}

.job-title {
    width: 37%;
}

.twitter {
    width: 23%;
}

.table-body tr:nth-child(odd) {
    background: #EEE
}
